<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ../partials/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">시나리오 등록</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- 시나리오 등록 폼 -->

            <div class="container">
              <form class="registerForm" action="/req_regTestScenario" method="post">
                <table class="table table-bordered">
                    <tr>
                      <td>시나리오 ID</td>
                      <td><input type="text" name="scenario_id"></td>
                      <td>시나리오 명</td>
                      <td><input type="text" name="scenario_name"></td>
                    </tr>
                    <tr>
                      <td>시나리오 유형</td>
                      <td>
                        <div id="div_scenario_type">
                         <select name="scenario_type">
                               <option value="unitPage">단위화면</option>
                               <option value="allPage">전체화면</option>
                         </select>
                     </div>
                    </td>
                      <td>등록자</td>
                      <td><input type="text" name="regMan"></td>
                    </tr>
                    <tr>
                      <td>관리주체</td>
                      <td>
                        <div id="div_manage_type">
                         <select name="manage_type" class="selectpicker">
                               <option value="isTeam">IS팀</option>
                               <option value="tft">현업 TFT</option>
                         </select>
                     </div>
                    </td>
                      <td>핵심관리여부</td>
                      <td>
                        <input type="checkbox" name="isCritical">
                      </td>
                    </tr>

                    <tr>
                      <td>시나리오 개요</td>
                      <td>
                        <textarea class="form-control" rows="3" name="overview_scenario"></textarea>
                    </td>
                      <td>시나리오 사전조건</td>
                      <td>
                        <textarea class="form-control" rows="3" name="requireFor_scenario"></textarea>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4"><h4>테스트 실행 정보</h4></td>
                    </tr>

                    <tr>
                      <td>시나리오 업무흐름</td>
                      <td>
                        <textarea class="form-control" rows="3" name="process_scenario"></textarea>
                    </td>
                      <td>시나리오 오류내용</td>
                      <td>
                        <textarea class="form-control" rows="3" name="errors_scenario"></textarea>
                      </td>
                    </tr>

                    <tr>
                      <td>예상소요시간</td>
                      <td colspan="3"><input type="text" name="expectedTime"></td>
                    </tr>
                </table>

                <button type="reset" name="resetForm" value="초기화">
                <button type="submit" name="registration" value="등록">
              </form>

			      </div>
            <!-- // 시나리오 등록 폼 -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
